doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='css/main.min.css')
    title codejam
  body.body
    //- .wrapper
    //-   textarea(name="ok", cols="30", rows="10")
    //-   ul.keywords
    //-     li.keywords__row 
    //-       .key  
    //-         span.Backquote.off
    //-           span.case.up ё
    //-           span.case.down Ё
    //-         span.Backquote.on
    //-           span.case.down `
    //-           span.case.up ~
    //-       .key 1
    //-       .key 2
    //-       .key 3
    //-       .key 4
    //-       .key 5
    //-       .key 6
    //-       .key 7 
    //-       .key 8
    //-       .key 9 
    //-       .key 0
    //-       .key -
    //-       .key =
    //-       .key bacspace
    //-     li.keywords__row
    //-       .key.tab tab 
    //-       .key q
    //-       .key w
    //-       .key e
    //-       .key r
    //-       .key t
    //-       .key y
    //-       .key u 
    //-       .key i
    //-       .key o 
    //-       .key p
    //-       .key [
    //-       .key ]
    //-       .key.slasher \
    //-     li.keywords__row
    //-       .key capsLk 
    //-       .key a
    //-       .key s
    //-       .key d
    //-       .key f
    //-       .key g
    //-       .key h
    //-       .key j
    //-       .key k
    //-       .key l 
    //-       .key ;
    //-       .key '
    //-       .key.enter enter
    //-     li.keywords__row
    //-       .key.shift shift
    //-       .key z
    //-       .key x
    //-       .key c
    //-       .key v
    //-       .key b
    //-       .key n
    //-       .key m
    //-       .key ,
    //-       .key . 
    //-       .key /
    //-       .key.shift shift
    //-     li.keywords__row
    //-       .key ctrl
    //-       .key win
    //-       .key alt
    //-       .key.space space
    //-       .key alt
    //-       .key fn
    //-       .key setting
    //-       .key ctrl
    script( src="js/main.min.js")

    



