@import "base/*.scss";
@import "elements/*.scss";
.wrapper {
    width: 875px;
    margin: 0 auto;
}

.keywords {
    display: flex;
    flex-direction: column;
}

.keywords__row {
    margin-bottom: 10px;
    display: flex;
}

.key {
    padding: 10px 20px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
    transition: border-radius .3s, background .2s;
    text-align: center;
}

.active {
    background-color: #5571ee;
    border-radius: 50px;
}

.Backslash,
.Tab {
    min-width: 80px;
}

.shift {
    min-width: 135px;
}

.enter {
    min-width: 135px;
}

.space {
    min-width: 370px;
}

.off,
.down {
    display: none;
}

.up {
    display: inherit;
}

textarea {
    width: 100%;
}